<div class="product">
    <div class="product-image" *ngIf="product.image">
    <img src="{{product.image}}">
  </div>


  <custom-title [title]="product.title | uppercase"></custom-title>

  <div class="product-text">{{product.description | wordUpper: ['томат','сыр']}}</div>
  <div class="product-action" #elem>
    <button class="btn btn-add-to-cart" routerLink="/order" [queryParams]="{product: product.title}">В корзину</button>
    <button class="btn btn-white" [routerLink]="['/products', product.id]">Подробнее</button>
  </div>
</div>
<!--(click)="addToCard(product, orderElement)"-->
