<section class="order about">
  <div class="container">
    <div>
      <div class="order-text-title double-title">
        <span>Лучшая</span> итальянская пиццерия!
      </div>
      <div class="order-text-message">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cupiditate debitis eius, ipsam nihil
        officiis veritatis! Beatae cum cumque dolores iusto minus porro quidem saepe suscipit voluptatum! Delectus,
        iure, quidem?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cupiditate debitis eius, ipsam nihil
        officiis veritatis! Beatae cum cumque dolores iusto minus porro quidem saepe suscipit voluptatum! Delectus,
        iure, quidem?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cupiditate debitis eius, ipsam nihil
        officiis veritatis! Beatae cum cumque dolores iusto minus porro quidem saepe suscipit voluptatum! Delectus,
        iure, quidem?
      </div>
    </div>

    <div class="about-image">
      <img src="assets/images/pizza_big.png" alt="pizza">
      <img src="assets/images/pizza_big.png" alt="pizza">
    </div>
  </div>
</section>

<app-popup [data]="'about component'">1</app-popup>
